.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}

.price{
    text-align: center;
}

.name{
    text-align: center;
}

#total, #totalprice, #originPrice{
    display: inline;
}

#receipt{
    text-align: center;
}

.centered { display: table; margin-left: auto; margin-right: auto; }

#receipt{
    text-align: center;
}

#bar{
    width: 20%;
}

#coupon-code, #card, #bank, #person ,#cash{
    margin-left: 20px;
}

#menubar{
    margin-left: 40px;
}

.basicDiv, #cardinfo{
    display: inline;
}