body {text-align:center; margin:20px auto;}
#Layout {width:500px; border:1px solid #5263bd; margin: auto; margin-top: 10%;}
#Print {width:500px; text-align:right; padding:3px 5px;}
.basicDiv {border:1px solid #5263bd; padding:7px 0; color:#5f6fc2;}

.tblTop {border-collapse: collapse; border:1px solid #5263bd; border-bottom:0px;}
.tblTop td {padding:5px 0 10px 30px; font:bold 24px gulim; color:#5263bd; text-align:center;}
.titstxt {font:bold 12px gulim; color:#5263bd;}

.tblTop2 {border-collapse: collapse; border-right:1px solid #5263bd; border-left:1px solid #5263bd;}
.tblTop2 .noTd {border-top:1px solid #5263bd; border-right:1px solid #5263bd; padding:4px;}
.tblTop2 .noTd .noStxt { font:bold 13px gulim; color:#666666;}
.tblTop2 td {font:bold 14px gulim; color:#5263bd; padding:4px;}
.tblTop2 .name {font:bold 14px gulim; color:#353535; text-align:right;}

.tbl {border-collapse: collapse; border:1px solid #5263bd;}
.tbl td {border:1px solid #5263bd; padding:4px;}
.tbl td.titTd {font:bold 14px gulim; color:#5263bd;}
.tbl th {font:bold 13px gulim; color:#5263bd; border:1px solid #5263bd; background:#f0f1f9; padding:4px;}

.tbl .item {font:13px gulim; padding-left:15px;}
.tbl .article {font:13px gulim; text-align:center;}
.tbl .price {font:normal 13px gulim; color:#4b4b4b; text-align:right; padding-right:7px;}
.tbl .sum {font:bold 13px gulim; color:#4b4b4b; text-align:right; padding-right:7px;}

.tbl .date {font:bold 13px gulim; color:#4b4b4b; text-align:center;}
.tbl .total {font:bold 16px gulim; color:#000000; text-align:right; padding-right:7px; border:2px solid #5263bd; }

.txt1 {font:bold 15px dotum;}

.basicDiv #cardinfo {text-align: right;}

