<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"href="css/adminpage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>관리자 모드</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#OrderHistoy">Order History</a></li>
        <li><a data-toggle="tab" href="#EmployeeInfo">Employee Info</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="bs-example">
                <div class="container">
                    <div class="row">
                        <br>
                        <div class="col-sm-8">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>이름</th>
                                    <th>구성</th>
                                    <th>가격</th>
                                    <th>매진여부</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="table-wrapper-scroll-y">
                            <table id="foodtable" class="table">
                                <tbody>
                                </tbody>
                            </table>
                            </div>
                                <table class="table">
                                    <tr>
                                <form onsubmit="">
                                    <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                    <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                    <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                    <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                    <th><input type="submit" class="btn-small" value="추가"></th>
                                </form>
                                    </tr>
                                </table>

                        </div>

                        <div class="col-sm-4">
                            <div class="jumbotron">
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-default" type="button">Search</button>
                                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>음식 이름</label>
                                <br>
                                <input type="text" id="Foodname" class="form-control" placeholder="Foodname">
                            </div>
                            <div class="form-group">
                                <label>가격</label>
                                <br>
                                <input type="text" id="Foodprice" class="form-control" placeholder="Foodprice">
                            </div>
                            <form action="payment">
                                <p>
                                    <button type="reset" class="btn btn-success btn-lg">메뉴 삭제</button>
                                    <button type="reset" class="btn btn-success btn-lg">가격 변경</button>
                                    <button type="reset" class="btn btn-success btn-lg">메뉴 추가</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="OrderHistoy" class="tab-pane fade">
            <div class="bs-example">
                <div class="container">
                    <div class="row">
                        <br>
                        <div class="col-sm-8">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>주문번호</th>
                                    <th>가격</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="table-wrapper-scroll-y">
                                <table id="Ordertable" class="table">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <table class="table">
                                <tr>
                                    <form onsubmit="">
                                        <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                        <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                        <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                        <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                        <th><input type="submit" class="btn-small" value="추가"></th>
                                    </form>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="EmployeeInfo" class="tab-pane fade">
            <div class="bs-example">
                <div class="container">
                    <div class="row">
                        <br>
                        <div class="col-sm-8">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>직책</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="table-wrapper-scroll-y">
                                <table id="clerktable" class="table">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <table class="table">
                                <tr>
                                    <form onsubmit="">
                                        <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                        <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                        <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                        <th><input type="text" class="form-control" placeholder="Search&hellip;"></th>
                                        <th><input type="submit" class="btn-small" value="추가"></th>
                                    </form>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
            </table>
        </div>
    </div>
</div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: "/getMenu",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: '전체',
            success : function (data){
                for(var i=0;i<data.length;i++) {

                    $record = $('<tr>\n' +
                        '                                    <td id="name"></td>\n' +
                        '                                    <td id="component"></td>\n' +
                        '                                    <td id="price"></td>\n' +
                        '                                    <td id="type"></td>\n' +
                        '                                    <td><button id="soldout" class="btn-primary btn-small">O</button></td>\n' +
                        '                                </tr>');

                    var name = $.trim(data[i].name);
                    var component = $.trim(data[i].component);
                    var price = $.trim(data[i].price);
                    var imageurl = $.trim(data[i].imageurl);
                    var type = $.trim(data[i].type);

                    $record.children('#name').text(name);
                    $record.children('#component').text(component);
                    $record.children('#price').text(price);
                    $record.children('#type').text(type);
                    $record.children('#type').hide();

                    $('#foodtable tbody').prepend($record);

                }
            },
            fail : function (){
                alert("fail");
            }
        });
        $.ajax({
            url: "/getAllOrder",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            success : function (data){
                for(var i=0;i<data.length;i++) {

                    $record = $('<tr>\n' +
                        '                                    <td id="ordercode"></td>\n' +
                        '                                    <td id="totalprice"></td>\n' +
                        '                                </tr>');

                    var ordercode = $.trim(data[i].ordercode);
                    var orderdate = $.trim(data[i].orderdate);
                    var totalprice = $.trim(data[i].totalprice);

                    $record.children('#ordercode').text(ordercode);
                    $record.children('#orderdate').text(orderdate);
                    $record.children('#totalprice').text(totalprice);


                    $('#Ordertable tbody').prepend($record);

                }
            },
            fail : function (){
                alert("fail");
            }
        });

                $.ajax({
                    url: "/getClerk",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: null,
                    success : function (data){
                        for(var i=0;i<data.length;i++) {
                            $record = $('<tr>\n' +
                                '<th id="empno"></th>\n' +
                                '<th id="name"></th>\n' +
                                '<th id="position"></th>\n' +
                                '</tr>');

                            var empno = $.trim(data[i].empno);
                            var position = $.trim(data[i].position);
                            var name = $.trim(data[i].name);

                            $record.children('#empno').text(empno);
                            $record.children('#position').text(position);
                            $record.children('#name').text(name);


                            $('#clerktable tbody').prepend($record);
                        }
                    },
                    fail : function (){
                        alert("fail");
                    }
                });


    });

    $(document).on('click','#soldout',function () {

        if($(this).text() == "O")
            $(this).text("X");
        else
            $(this).text("O");


        var name = $(this).parent().parent().children('#name').text();
        var type = $(this).parent().parent().children('#type').text();

        var senddata = name+'_'+type;

        $.ajax({
            url: "/modifySoldout",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: senddata,
            success : function (){

            },
            fail : function (){
                alert("fail");
            }
        });

    });


</script>
</html>