<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Food Kiosk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"href="css/homepage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">FOOD COURT</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home">Home</a></li>
                <li><a href="evaluation">음식 평가</a></li>
                <li><a href="#none" onclick="alert('잠시만 기다려주세요')">직원 호출</a></li>
                <li><a href="support">알러지 정보</a></li>
                <li><a href="login" onclick="window.open(this.href, '_blank', 'width=500px,height=200px,toolbars=no,scrollbars=no'); return false;">관리자 모드</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/><br/><br/>
<div class="bs-example">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">한식</a></li>
                <li><a href="#">중식</a></li>
                <li><a href="#">일식</a></li>
                <li><a href="#">양식</a></li>
                <li><a href="#">음료</a></li>
            </ul>
            <div class="col-sm-8">


            </div>

            <div class="col-sm-4">
                <div class="jumbotron">
                    <h3>주문 상황</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>음식이름</th>
                            <th>가격</th>
                            <th>개수</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <h3 id="total">총 금액 : <div id="totalprice"></div></h3>
                    <p>
                        <input type="submit" class="btn btn-success btn-small" value="카드결제" onclick="location.href='payment'">
                        <input type="submit" class="btn btn-success btn-small" value="현금결제" onclick="location.href='payment'">
                    </p>
                    <p>
                        <!--<input type="submit" class="btn btn-success btn-small" value="쿠폰입력" onclick="location.href='coupon'">-->
                        <a href="#myModal" role="button" class="btn btn-success btn-small" data-toggle="modal">쿠폰입력</a>
                        <input type="reset" class="btn btn-success btn-small" value="주문 초기화" onclick="javascript:resetOrder()">
                    </p>
                    <!-- 쿠폰입력 modal -->
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">쿠폰확인</h4>
                                </div>
                                <div class="modal-body">
                                    <p>쿠폰 코드를 입력해주세요.</p>
                                    <input type="text" class="code" size="50">
                                    <!--<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">확인</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
<script type="text/javascript">

    $('.col-sm-4').css('font-size','13px');
    $('#totalprice').html(0);

    $(document).ready(function(){
        addmenu("한식");
        $('.nav-pills li').click(function () {
            $("ul li").removeClass("active");
            $(this).addClass("active");
            addmenu($(this).children().html());
        });

    });

    $(document).on('click','#cancelbtn',function () {
        $(this).parent().parent().remove();
        totalprice();
    });

    function addmenu(category) {
        $.ajax({
            url: "/getMenu",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: category,
            success : function (data){
                $('.col-xs-3').remove();
                for(var i=0;i<data.length;i++) {
                    var foodname = $.trim(data[i].foodname);
                    var price = $.trim(data[i].price);
                    var imageurl = $.trim(data[i].imageurl);

                    $menuButton = $('<div class="col-xs-3">\n' +
                        '                <a href="javascript:addOrder(\''+ foodname+'\','+price+')" class="thumbnail">\n' +
                        '                    <img src="img/125x125.jpg" alt="125x125">\n' +
                        '                    <div class="name"></div><div class="price"></div>' +
                        '                </a>\n' +
                        '            </div>');

                    $menuButton.children().children('img').attr('src',imageurl);
                    $menuButton.children().children('.name').html(foodname+'<br>');
                    $menuButton.children().children('.price').html(price);
                    $(".col-sm-8").append($menuButton);
                }
            },
            fail : function (){
                alert("fail");
            }
        });
    }
    function addOrder(name, price){
        $record = $('<tr>\n' +
            '<th></th>\n' +
            '<th></th>\n' +
            '<th></th>\n' +
            '<th><button type="button" id="cancelbtn" class="btn btn-info btn-small">취소</button></th>\n' +
            '</tr>');

        $record.children('th:eq(3)').children().css('font-size','smaller');

        if($(".table tbody tr th").filter(function() {
            return $(this).text() === name;
        }).next().next().html() != undefined){
            var count = $(".table tbody tr th").filter(function() {
                return $(this).text() === name;
            }).next().next().html();
            $(".table tbody tr th").filter(function() {
                return $(this).text() === name;
            }).next().next().html(++count);
        }else{
            $record.children('th:eq(0)').html(name);
            $record.children('th:eq(1)').html(price);
            $record.children('th:eq(2)').html(1);
            $('.table tbody').append($record);
        }

        totalprice();
        
    }
    function resetOrder() {
        $('.table tbody').children().remove();
        $('#totalprice').html(0);

    }
    function totalprice() {
        var totalprice = 0;
        $('.table tbody tr').each(function () {
            totalprice += $(this).children('th:eq(1)').html() * $(this).children('th:eq(2)').html();
        });
        //alert(totalprice);
        $('#totalprice').html(totalprice);
    }



</script>
</html>