<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 주문 결제하기 </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/receipt.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">FOOD COURT</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li><a href="evaluation">음식 평가</a></li>
                <li><a href="#none" onclick="alert('잠시만 기다려주세요')">직원 호출</a></li>
                <li><a href="support">알러지 정보</a></li>
                <li><a href="login" onclick="window.open(this.href, '_blank', 'width=500px,height=200px,toolbars=no,scrollbars=no'); return false;">관리자 모드</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div id="receipt">
        <div id="Layout">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tblTop">
                <tr>
                    <td>영 수 증</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tblTop2">
                <tr>
                    <td width="45%" class="noTd">주문번호. <span class="noStxt">20091201</span></td>
                    <td class="name">일지매 님</td>
                    <td width="10%">귀하</td>
                </tr>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" class="tbl stamp">
                <tr>
                    <td width="7%" rowspan="5" align="center" class="titTd">공<br>
                        급<br>
                        자</td>
                    <th width="20%">사업자<br>
                        등록번호</th>
                    <td colspan="3" class="txt1">777-77-12345</td>
                </tr>
                <tr>
                    <th>상호</th>
                    <td width="25%" align="center">OOO닷컴</td>
                    <th width="14%">성명</th>
                    <td align="center">홍길동</td>
                </tr>
                <tr>
                    <th>사업자<br>
                        소재지</th>
                    <td colspan="3">부산시 O구 OO동 777-4번지 OO빌딩1층</td>
                </tr>
                <tr>
                    <th>업태</th>
                    <td align="center">도소매</td>
                    <th>종목</th>
                    <td align="center">OO류</td>
                </tr>
                <tr>
                    <th>전화</th>
                    <td colspan="3">000)4321-4321</td>
                </tr>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" class="tbl">
                <tr>
                    <th>작성년월일</th>
                    <th>공급대가총액</th>
                    <th>비고</th>
                </tr>
                <tr>
                    <td class="date">2012년 2월 22일</td>
                    <td class="total"></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <div class="basicDiv">
                위 금액을 정히 영수(청구) 함.
            </div>
            <table width="100%" cellspacing="0" cellpadding="0" class="tbl" id="itemlist">
                <tr>
                    <th>품목</th>
                    <th>수량</th>
                    <th>공급대가(금액)</th>
                </tr>
            </table>
            <div class="basicDiv">
                부가가치 세법시행규칙 제25조의 규정에 의하여 위 금액을 정히 영수함.</div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function(){


        var url_string = window.location.href;

        url_string = decodeURI(url_string);

        var splitdata = [];
        splitdata = url_string.split("=")[1].split(/_+/);
        var count = [];
        var name = [];
        var price = [];
        var cnt = 0;

        for(var i=4;i<splitdata.length+3;i+=4){
                price[cnt] = splitdata[i-3]; //price
                name[cnt] = splitdata[i - 4]; //name
                count[cnt++] = splitdata[i-2]; //count
        }

        $('.total').text(splitdata[splitdata.length-1]);

        for(var i=0;i<cnt;i++) {

            $record = $('<tr>\n' +
                '<td class="item"></td>\n' +
                '<td class="article"></td>\n' +
                '<td class="price"></td>\n' +
                '</tr>');

            $record.children('.item').append(name[i]);
            $record.children('.article').append(count[i]);
            $record.children('.price').append(price[i]);
            $('#itemlist').append($record);
        }


    });
</script>
</html>